<md-step label="Reset your password" md-complete="$ctrl.step.completed">
  <md-step-body>

    <md-content class="md-padding">

      <p class="md-body-1">We have just sent your account email a confirmation code.  Enter it below along
        with your new password.</p>
      <p ng-if="$ctrl.step.error">Error: {{$ctrl.step.error}}</p>

      <form name="resetform">

        <md-input-container class="md-block" ng-if="$ctrl.needsData($ctrl.data.email)">
          <md-icon aria-label="email" class="material-icons">email</md-icon>
          <input ng-model="$ctrl.data.email" type="email" name="email" placeholder="Email"
                 ng-if="$ctrl.needsData($ctrl.data.email)">
          <div ng-messages="resetform.email.$error">
            <div ng-message="required">This is required</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon aria-label="code" class="material-icons">star</md-icon>
          <input ng-model="$ctrl.data.code" type="text" name="code" placeholder="Confirmation code" required>
          <div ng-messages="resetform.code.$error">
            <div ng-message="required">This is required</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon aria-label="lock" class="material-icons">lock</md-icon>
          <input ng-model="$ctrl.data.password" type="password" name="password" placeholder="Password"
                 ng-minlength="8" password-policy required>
          <div class="hint" style="text-align: right; width: 100%">Use at least 8 characters including upper
            case, lower case and numbers
          </div>
          <div ng-messages="resetform.password.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="passwordPolicy">Password policy not satisfied</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon aria-label="lock" class="material-icons">lock</md-icon>
          <input ng-model="$ctrl.data.passwordConfirm" type="password" name="password_confirm"
                 placeholder="Password (Confirm)"
                 match="$ctrl.data.password" required>
          <div ng-messages="resetform.password_confirm.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="match">The passwords do not match</div>
          </div>
        </md-input-container>

      </form>
    </md-content>

    <md-step-actions layout="row">
      <div flex>
        <md-button ng-click="$ctrl.recover.previousStep()">Back</md-button>
      </div>
      <div flex layout="row" layout-align="end top">
        <md-button class="md-warn" ng-click="$ctrl.recover.cancel()">Cancel</md-button>
        <md-button ng-disabled="!resetform.$valid"" class="md-primary"
                   ng-click="$ctrl.resetPassword()">Next
        </md-button>
      </div>
    </md-step-actions>
  </md-step-body>
</md-step>
