<md-sidenav
  layout="column"
  style="height: 100%"
  class="md-sidenav-left"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')">

  <md-content style="height: 100%">
    <md-toolbar class="md-primary" hide-gt-md layout="column">
      <div class="md-toolbar-tools">
        <h2 class="md-headline">Example</h2>
      </div>
    </md-toolbar>
    <md-list style="padding: 0em" flex>
      <md-list-item  ui-sref="app.dashboard">
        <p class="md-list-item-text">Dashboard</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item  ui-sref="app.settings">
        <p class="md-list-item-text">Settings</p>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
