<!--<div class="backdrop"></div>-->
<!--<div class="content">-->
<div layout="column" layout-align="start center" style="height: 100%" class="hero-background">
  <md-card style="min-width: ">
    <!--<md-card-title>-->
      <!--<md-card-title-text>-->
        <!--<span class="md-headline">Recover your Example account</span>-->
      <!--</md-card-title-text>-->
    <!--</md-card-title>-->
    <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <span>Recover your Example account</span>
      </div>
    </md-toolbar>
    <md-stepper-card-content class="no-padding">
      <md-steppers
        md-dynamic-height
        md-disable-tabs-behavior="true"
        md-stretch-steppers="always"
        md-selected="$ctrl.selectedStep"
        md-busy-text="'Processing...'"
        md-busy="$ctrl.showBusyText">

        <recover-account
          step="$ctrl.stepData[0]"
          data="$ctrl.data"
          ng-disabled="$ctrl.stepProgress < 1"></recover-account>

        <reset-password
          step="$ctrl.stepData[1]"
          data="$ctrl.data"
          ng-disabled="$ctrl.stepProgress < 2"></reset-password>

        <recover-finish
          step="$ctrl.stepData[2]"
          data="$ctrl.data"
          ng-disabled="$ctrl.stepProgress < 3"></recover-finish>

      </md-steppers>
    </md-stepper-card-content>
  </md-card>
</div>
