<md-step label="<%= upCaseName %> Dummy" md-complete="$ctrl.step.completed">
  <md-step-body>

    <md-content class="md-padding">
      <p ng-if="$ctrl.step.error">Error: {{$ctrl.step.error}}</p>
      <p><%= upCaseName %> Step</p>
    </md-content>

    <md-step-actions layout="row">
      <div flex>
        <md-button ng-click="$ctrl.<%= name %>.previousStep()">Back</md-button>
      </div>
      <div flex layout="row" layout-align="end top">
        <md-button class="md-warn" ng-click="$ctrl.<%= name %>.cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.<%= name %>.nextStep()">Next</md-button>
      </div>
    </md-step-actions>
  </md-step-body>
</md-step>
