<md-toolbar class="default-toolbar" layout="column">
  <div class="md-toolbar-tools">
    <h3 class="md-display-3"><a ui-sref="app.home">Example</a></h3>
    <span flex></span>
    <div layout="row">
      <md-button ui-sref="app.home" style="text-transform: none">Product</md-button>
      <md-button ui-sref="app.home" style="text-transform: none">Pricing</md-button>
      <md-button ui-sref="app.home" style="text-transform: none">Support</md-button>
      <md-button ui-sref="app.register" style="text-transform: none">Register</md-button>
      <md-button ui-sref="app.dashboard" style="border: 1px solid #fff; text-transform: none">Sign In</md-button>
      <!--<span class="md-body-1" style="margin-right: 8px; padding: 4px"><a href="app.home">Product</a></span>-->
      <!--<span class="md-body-1" style="margin-right: 8px; padding: 4px"><a href="app.home">Pricing</a></span>-->
      <!--<span class="md-body-1" style="margin-right: 8px; padding: 4px"><a href="app.home">Support</a></span>-->
      <!--<span class="md-body-1" style="margin-right: 8px; padding: 4px"><a href="app.home">Register</a></span>-->
      <!--<span class="md-body-1" style="border: 1px solid white; padding: 4px"><a ui-sref="app.dashboard">Sign In</a></span>-->
    </div>
  </div>
</md-toolbar>
